.header2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #1e3f66;
  font-size: 20px;
  font-style: oblique;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.login {
  margin-right: 15px;
}
.login-page {
  margin-top: 100px;
}
.login-box {
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 20px;
  border: 1px solid#999;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.lgt-btn {
  margin-left: 10px;
  margin-right: 10px;
}
.username-txt {
  margin-right: 20px;
}
.username {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.lgn-btn {
  margin-top: 30px;
  margin-left: 100px;
}
.header1 {
  padding: 20px;
  padding-left: 40px;
}
.comp {
  background-color: #bcd2e8;
}
.whole {
  text-align: center;
  background-color: #bcd2e8;
  /*margin: 3%;
  padding-top: 1%;
  padding-bottom: 5%;
  border-radius: 50px;*/
}
.headers {
  display: flex;
  justify-content: center;
  color: #1e3f66;
}
.header {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  width: max-content;
  padding: 10px;
}
.input-task {
  padding-left: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-radius: 10px;
  margin-right: 2%;
  margin-bottom: 2%;
}
.todo-cont {
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 20px;
  border: 1px solid#999;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.list {
  text-align: left;
}
.task {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid#999;
}
.one {
  margin-right: 1cm;
}
.FAQ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.faq-container {
  margin-top: 10px;
  padding: 0.1px;
  padding-left: 10px;
  width: 1000px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}
.question {
  display: flex;
  justify-content: space-between;
}
.toggle {
  margin: 20px;
}
.footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: 150px;
  width: 100%;
  height: 120px;
  padding: 20px;
  font-size: 20px;
  font-style: oblique;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding-left: 60px;
  background-color: #1e3f66;
}
